.postGameContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;

    height: 100%;
    width: 100%;

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        '. rating .'
        'stat1 stat2 stat3'
        'quote quote quote'
        '. play-again .';
    align-items: center;
    height: 100%;
    width: 100%;
}

.rating {
    color: whitesmoke;
    grid-area: rating;
    font-size: 48px;
}

.stat1 {
    grid-area: stat1;
}

.stat2 {
    grid-area: stat2;
}

.stat3 {
    grid-area: stat3;
}

.postGameQuoteContainer {
    grid-area: quote;
    display: flex;
    flex-direction: column;
}

.postGameQuote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}

.author {
    font-size: small;
    font-weight: normal;
    font-style: italic;
    float: left;
    color: whitesmoke;
    margin: 8px;
}

.playAgainButton {
    background-color: #229749;
    flex-grow: 0.5;
    padding: 8px;
    border: solid 2px #229749;
}

.buttonContainer {
    grid-area: play-again;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: baseline;
}

.playAgainButton:hover {
    background-color: #1e803f;
}

.button {
    border-radius: 16px;
    border: solid 2px #282A36;
    color: whitesmoke;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    padding: 16px;
    width: 100%;
    margin-top: 16px;
}
    
input {
    margin-top: 16px;
    width: 98%;
    border-radius: 8px;
    padding: 8px;
}