.postGameContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;

    height: 100%;
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.rating {
    position: absolute;
    color: whitesmoke;
    margin: auto;
    bottom: 152px;
    font-family: var(--font-header);
    font-size: 128px;
    font-weight: 600;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.statsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

.postGameQuoteContainer {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    border: 3px solid #50546d;
    border-radius: 5px;
    margin: 32px;
}

.postGameQuote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}

.author {
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    float: left;
    color: whitesmoke;
    margin: 8px;
    font-family: 'JetBrains Mono', monospace;
}

/*.playAgainButton {*/
/*    background-color: #229749;*/
/*    flex-grow: 0.5;*/
/*    padding: 8px;*/
/*    border: solid 2px #229749;*/
/*}*/

/*.buttonContainer {*/
/*    grid-area: play-again;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    align-self: baseline;*/
/*}*/

/*.playAgainButton:hover {*/
/*    background-color: #1e803f;*/
/*}*/

/*.button {*/
/*    border-radius: 16px;*/
/*    border: solid 2px #282A36;*/
/*    color: #d4d4d4;*/
/*    cursor: pointer;*/
/*    font-size: large;*/
/*    font-weight: 600;*/
/*    padding: 16px;*/
/*    width: 100%;*/
/*    margin-top: 16px;*/
/*}*/

/*input {*/
/*    margin-top: 16px;*/
/*    width: 98%;*/
/*    border-radius: 8px;*/
/*    padding: 8px;*/
/*}*/