.postGameContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;

    height: 100%;
    width: 100%;
    max-width: 1200px;

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, minmax(auto, 1fr));
    grid-template-areas:
        '. rating .'
        'stat1 stat2 stat3'
        'quote quote quote'
        '. play-again .';
    align-items: center;
    justify-items: center;
}

.titleContainer {
    grid-area: rating;
}

.title {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    color: #d4d4d4;
    border-bottom: 5px solid #d4d4d4;
}

.rating {
    color: #d4d4d4;
    font-size: 48px;
    margin: auto;
}

.stat1 {
    grid-area: stat1;
    height: 100%;
    justify-self: flex-end;
}

.stat2 {
    grid-area: stat2;
    height: 100%;
}

.stat3 {
    grid-area: stat3;
    height: 100%;
    justify-self: flex-start;
}

.postGameQuoteContainer {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    border: 3px solid #50546d;
    border-radius: 5px;
    margin: 32px;
}

.postGameQuote {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
}

.author {
    font-size: medium;
    font-weight: normal;
    font-style: italic;
    float: left;
    color: whitesmoke;
    margin: 8px;
    font-family: 'JetBrains Mono', monospace;
}

.playAgainButton {
    background-color: #229749;
    flex-grow: 0.5;
    padding: 8px;
    border: solid 2px #229749;
}

.buttonContainer {
    grid-area: play-again;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: baseline;
}

.playAgainButton:hover {
    background-color: #1e803f;
}

.button {
    border-radius: 16px;
    border: solid 2px #282A36;
    color: #d4d4d4;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    padding: 16px;
    width: 100%;
    margin-top: 16px;
}

input {
    margin-top: 16px;
    width: 98%;
    border-radius: 8px;
    padding: 8px;
}