.statisticCard {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    grid-template-areas:
        'title'
        'value'
        'subtext';
    align-items: center;
    justify-items: center;
    background-color: #50546d;
    border-radius: 8px;
    max-width: 200px;
    height: 100%;
}

.title {
    grid-area: title;
    background-color: #45485c;
    color: whitesmoke;
    width: 100%;
    align-self: flex-start;
    margin: 0;
    padding: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
}

.valueContainer {
    grid-area: value;
    color: whitesmoke;
}

.subText {
    grid-area: subtext;
    color: whitesmoke;
    margin: 0;
}
