.playerContainer {
    grid-area: player-container;
    display: flex;
    flex-direction: column;
    align-self: end;
    margin: 8px;
}

.playerItems {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    background-color: #555973;
    border-radius: 8px;
    color: whitesmoke;
    padding: 8px;
    width: 100%;
    max-height: fit-content;
    box-sizing: border-box;

}

.statsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #686868, 1px -1px 0 #686868, -1px 1px 0 #686868,
        1px 1px 0 #686868;
}

.statsContainer span {
    margin-right: 16px;
}