@import url("../../utils/global.css");

.timerContainer {
    float: left;
}

.timerLabel {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: var(--font-body-grey);
    font-family: var(--font-body);
}