.gamePage {
    display: inline-grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr clamp(0fr,1fr);
    grid-template-areas:
        '. player-container .'
        '. quote-container .'
        '. quote-container .'
        '. . .';
    height: 100%;
    width: 100%;
}

.loadingText {
    grid-area: quote-container;
    color: antiquewhite;
}

.gameContainer {
    grid-area: quote-container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 24px 8px 8px 8px;
}

.timerLabel {
    color: white;
    font-weight: bolder;
    font-size: larger;
}