.counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #50546d;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.font {
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.type {
    font-size: 36px;
}

.preamble {
    font-size: 26px;
}