@import url("../../utils/global.css");

.playerElement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}

.progressLabel {
    margin-left: 8px;
    margin-right: 8px;
    color: var(--font-body-grey);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userName {
    color: var(--font-body-grey);
    font-weight: bold;
}