.progressBarBackground {
    height: 24px;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 8px;
}

.progressBarFiller {
    height: 100%;
    border-radius: inherit;
    text-align: right;
    min-width: fit-content;
}

.progressBarLabel {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
