.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.createGameButton {
    background-color: #4281A4;
    margin-right: 8px;
    padding: 16px;
    border: solid 2px #282A36;
}

.joinGameButton {
    background-color: #0A8754;
    flex-grow: 0.5;
    padding: 8px;
    border: solid 2px #0A8754;
}

.createGameButton:hover {
    background-color: #376e8b;
}

.joinGameButton:hover {
    background-color: #086e45;
}

.button {
    border-radius: 16px;
    color: whitesmoke;
    cursor: pointer;
    width: 100%;
}

.gamesContainer{
    display:flex;
    flex-direction: column;
}

.gameListModal {
    border: solid 2px #3D4052;
    background-color: #3D4052;
    border-radius: 16px;
    width: 500px;
    height: 500px;
}

.gameListRow {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    border-bottom: solid 1px #282A36;
}

ul {
    padding: 16px;
}