.quoteContainer {
    background-color: #50546D;
    border-radius: 8px;
    grid-area: quote-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #D4D4D4;
    font-size: x-large;
    font-weight: bold;
}                             