@import url("../../utils/global.css");

.font {
    font-family: var(--font-body);
    border: 1px solid transparent;
}

.correct {
    color: var(--primary-green);
}

.error {
    color: var(--error-orange);
}

.errorSpace {
    border-bottom: 2px solid var(--error-orange);
}

.cursor {
    border-left: 1px solid white;
}