.font {
    font-family: 'JetBrains Mono', monospace;
    border: 1px solid transparent;
}

.correct {
    color: #4AE08C;
}

.error {
    color: #F1A9A0;
}

.errorSpace {
    border-bottom: 2px solid #F1A9A0;
}

.cursor {
    border-left: 1px solid white;
}