.quoteContainer {
    background-color: #50546d;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: #d4d4d4;
    font-size: x-large;
    font-weight: bold;
    margin-top: 16px;
    padding: 8px;
    height: 100%;
}

.correct {
    color: #4AE08C;
}

.error {
    color: #F1A9A0;
}

.errorSpace {
    border-bottom: 3px solid #F1A9A0;
}

.cursor {
    border-bottom: 3px solid white;
    color: white;
}
