.quoteContainer {
    background-color: #45485c;
    border-radius: 8px;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    color: #d4d4d4;
    font-size: x-large;
    font-weight: bold;
    margin-top: 16px;
    padding: 8px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #50546d;
    height: 100%;
    width: 100%;
    border-radius: 8px;

    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', Tahoma, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 700;
    line-height: 26.4px;
    color: #d4d4d4;

    font-size: 36px;
}