@import url("../../utils/global.css");

.quoteContainer {
    background-color: var(--card-background);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    color: var(--font-body-grey);
    font-size: large;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    height: fit-content;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-header);
    line-height: 2.5;
}

.finish {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--card-background);
    height: 100%;
    width: 100%;
    border-radius: 8px;

    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: var(--font-body-grey);

    font-size: 36px;
}